/***********************************/
/* 전체 **/
/***********************************/
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
a { 
    text-decoration:none;
    color: #000;
} 
li { list-style: none }
html,
body{
    display:block;
    
    position: relative;
    text-decoration:none;
    width:1218px;
    margin: 0 auto ;
    background-color: #fff;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Nanum Gothic', sans-serif;
    color: #000;
}


/***********************************/
/* 헤더(로고) **/
/***********************************/

header{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    border-bottom: 1px solid rgb(204, 195, 195);
    border-top: 1px solid rgb(204, 195, 195);
}
.top_menu{
    display:flex;
    flex-direction: column;
    margin-top:15px;
    margin-left:800px;
    margin-bottom:30px;
    margin-right:150px;
    height: 0px;
}
.top_menu li{
    float:left;
    font-size: 10px;
}
.top_menu a:hover{
    text-decoration:underline;
}
.sl{
    margin-left:30px;
   margin-bottom:50px;
   display: flex;
   flex-direction: column;
}
.input_text{
    position: relative;
    width: 582px;
    height: 53px;
    outline: #19ce60;
    border: 2px solid #19ce60;
}
.logo{
    position: relative;   
    display:inline;
}
.green_window{
    position: relative;
    margin-left:250px;
    margin-top:-65px;
}
.search_button{
    position: relative;
    margin-left:780px;
    margin-top:-53px;
}
.btn{
    border: 0;
    background-color: #fff;
    outline: #fff;
}
/***********************************/
/* 헤더(네비게이션) **/
/***********************************/
.nav_list{
    height: 60px;
    border-top: 1px solid rgb(204, 195, 195);
    padding-top:10px;
}
.nav_list li{
    display: inline;
    font-size:15px;
    font-weight: 700;
    line-height:30px;
    text-decoration: solid;
}
.nav_list .list_ul li a:link,
.nav_list .list_ul li a:visited{
    color : #03c75a;
    margin-left: 18px;
    float: left;
}
.nav_list .list_ul2 li a:link,
.nav_list .list_ul2 li a:visited{
    color : #000;
    margin-left: 12px;
    float: left;
}
.nav_list .list_ul3 li a:link,
.nav_list .list_ul3 li a:visited{
    font-size: 13px;
    color : rgb(83, 81, 81);
    margin-left: 18px;
    display: inline;
}
.list_ul3 a:hover{
    text-decoration:underline;   
}
.btn_more1{
    float:right;
    margin-right:70px;
}
.mail_img{
    margin-right:5px;
}
/***********************************/
/* 섹션 1 **/
/***********************************/
.sa{
  
    background-color: #fff;
    width:750px;
    float:left;
   
    padding: 20px 10px;
    margin: 0;
    letter-spacing: -.2px;
}
.naver_cf{
    width: 750px;
    height: 135px;
}
.cf_under {
    margin-top:10px;
    position: relative;
    padding: 12px 15px 11px 15px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    line-height: 24px;
    font-size:13px;
}
.story{
    text-align: center;
    display: inline;
}
.story_link{
    text-align: right;
    font-size: 13px;
    float:right;
}
/***********************************/
/* 어 사이드    **/
/***********************************/
.a1{
    text-align: center;
    background-color: #fff;
    width:30%;
    float:right;
    margin-bottom:50px;
}
.login {
    margin-top: 20px;
    padding: 16px 16px 12px 17px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    font-size:12px;
}
.login p{
    margin-left: 18px;
}
.login_image{
    padding-top: 10px;
    padding-bottom:10px;
}
.list_ul4 a{
    margin-left: 18px;
}
.list_ul4 li a:link,
.list_ul4 li a:visited{
    font-size: 13px;
    color : rgb(83, 81, 81);
}
.list_ul4 a:hover{
    text-decoration:underline;
}
.create{
    float:right;
}
.card_li1 span:hover{
    text-decoration:underline;
}
.news_head{
    padding: 22px 0 16px;
    font-size: 14px;
    line-height: 18px;
}
.news_head li{
    font-size: 13px;
    color : rgb(83, 81, 81);
}
.news_inter{
    float:right;
    margin-left:15px;
}
.news_group{
    position: relative;
    height: 260px;
    border: 1px solid #dae1e6;
}
.news_group img{
    margin:0px;
    padding:0px;
    border-collapse:collapse;
    vertical-align:bottom;
    
}
.card_wrap{
    height: 47px;
    margin-top:15px;
    display: block;
    border: 1px solid #dae1e6;
}
.card_wrap ul{
    margin-top: 15px;
}

.card_wrap li a:link{
    display: inline;
}
.card_li1{
    margin-left:20px;
}
.card_li2{
    float:right;
    margin-right:10px;
}

.add{
    margin: 12px 0px 0px 12px;
    width: 350px;
    height: 200px;
}
.add img{
    width: 350px;
    height: 200px;
    transform: scaleX( 1.05 );
}
.shopping{
    font-weight: bold;
    margin-top:25px;
    margin-bottom: 20px;
}
.shopping_link1{
    font-size:14px;
}
.shopping_link{
    float:right;
    font-size:13px;
    margin-left:10px;
    margin-right:10px;
}
.group_shop_f{
    height: 919px;
}
.group_shop_f img{
    transition: transform 0.5s, opacity 0.5s;
}
.group_shop_f img:hover{
    opacity:0.7;
    transform: scale(1.1);
}
.group_shop {
    padding: 21px 8px 13px 9px;
    width: 350px;
    height: 430px;
    border: 1px solid #dae1e6;
}
.group_shopping{
    padding: 17px 0 28px;
    position: absolute;
    
}
.group_shop_title{
    float:right;
    margin-right:15px;
}
.group_event {
    padding: 20px 17px 0 13px;
    border-top: 1px solid #dae1e6;
    font-size: 12px;
    line-height: 16px;
}
/***********************************/
/* 섹션 2 **/
/***********************************/
.s2{
    display:block;
    width:70%;
    float:left;
    background-color: #fff;
    margin-bottom:50px;
}
.s2 span:hover{
    text-decoration:underline;
}
.s2 img{
    transition: transform 0.5s, opacity 0.5s;
}
.s2 img:hover{
    opacity:0.7;
    transform: scale(1.1);
}
.thema{
    margin-top:20px;
}
.thema_title{
    display:block;
    float:left;
    margin-left:8px;
    margin-bottom:15px;
}
.thema_sub{
    display:block;
    float:right;
    font-size:12px;
}
.naver_hel{
    margin-left:15px;
}
.naver_hel img { 
    border: none; margin: 0; padding: 0; display: inline; 
    margin-right:-6px;
}
.thema_image{
    margin-top:15px;
    line-height: 20px;
    width:50%;
    font-size:13px;
    display: block;
    float: left;
}
.thema_image-1{
    border-bottom: 1px solid #dae1e6;
    padding-bottom:15px;
    margin-bottom:15px;
}
.thema_image1{
    margin-top:15px;
    line-height: 16px;
    font-size:13px;
}
.thema_image1-1 {
    line-height: 20px;
    float:right;
    width:35%;
}
.thema_image-2{
    border-bottom: 1px solid #dae1e6;
    padding-bottom:15px;
    margin-bottom:15px;
    display:flex;
    flex-direction: column;
}
.thema_image2-2{
    line-height: 20px;
    float:right;
    width:78%;
    font-size:13px;
}
.player{
    display:flex;
    flex-direction: row;
    
}
.player1{
    position: relative;
    float:left;
    margin-right:40px;
}
.thema_image-21{
    border-bottom: 1px solid #dae1e6;
    padding-bottom:15px;
    margin-bottom:15px;
    display:flex;
    flex-direction: column;
    float:left;
}

/**************************************/
/* 푸터                               */
/**************************************/

.f1{
    background-color: #fff;
    width:100%;
    display:flex;
    flex-direction: column;
}   
.footer_in span:hover, .footer_down span:hover{
    text-decoration:underline;
}
.f1 img{
    transition: transform 0.5s, opacity 0.5s;
}
.f1 img:hover{
    opacity:0.7;
    transform: scale(1.1);
}
.footer_in{
    display:flex;
    flex-direction: row;
    float:left;
    width:100%;
    height: 100px;
    border-bottom: 1px solid #dae1e6;
}
.footer_inner{
    font-size:13px;
    float:left;
    width:120%;
}
.footer_down1 {   
    margin-top:30px;
    margin-bottom:30px;
    float:left;
}
.footer_down2{
    margin-top:30px;
    margin-bottom:30px;
    margin-right:15px;
    float:right;
}
.partner_box{
    font-size:12px;
    line-height: 18px;;
    padding-top:20px;
    padding-bottom:30px;
    border-top: 1px solid #dae1e6;
    border-bottom:  1px solid #dae1e6;
}
.partner_box a{
    color:gray;
}
.partner_box a:hover{
    text-decoration:underline;
}
.partner a {
    margin-right:30px;
    margin-left:20px;   
}
.partner{
    width:70%;
    float:left;
}
.partner_box img{
    margin-right:50px;
    transform: scale(1.1);
}
.final{
    font-size:12px;
    line-height: 16px;
    color:#777;
    padding-bottom:80px;
    padding-top:20px;
}
.final a:hover{
    text-decoration:underline;
}
.final a{
    color:gray;
}
.final a{
    margin-left:25px;
}